*{
	padding: 0;
	margin: 0;
}
html {
	background:silver;
}
body{
	width:750px ;
	height: auto;
	background: #red;
	margin: auto;
	border-radius: 20px 20px 0 0;
	margin-top: 15px;
	
	}
	header{
		width:750px ;
		height: 100px;
		background: #ffffff;
		border-radius: 30px 30px 0 0;}
		
		#Logo{
			margin-top: 10px;
			margin-left:10px ;
			float: left;
		}
		#redes{ 
		float:right;
		margin-top:15px;
		margin-right: 10px;}

nav{
    background: #000;}
nav ul{ list-style: none;
     display: table;}
nav>ul>li{float:left;}
nav>ul>li>a:hover{padding: 20px 17px 20px 17;
	background: rgb(167,207,223);
background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
filter: progid:DXImagetransform.microsoft.gradient(startcolorstr='#a7cfdf', endcolorstr='#23538a',gradienttype=0);}

nav a{text-decoration: none;color: #bbb;font-size:12px;font-family:ARIAL BLACK;padding: 15PX;line-height: 50PX;}
	
nav a:hover{background: rgb(167,207,223);}		 
nav li{position: relative;}
nav li ul{position: absolute; display: none;}			
nav li:hover>ul{display: block;}
nav>ul>li>ul>li{background: #000;width: 160px;border-right: 4px red solid;border-left: 4px red solid;}
nav>ul>li>ul>li>ul>li{background: #000;width: 180px;border-right: 4px red solid;border-left: 4px red solid;}
nav ul ul ul{left: 100%;top: 0%;}

#banner-slider{
	width: 750px;
	height: 350px;
	overflow: hidden;
}
#banner-slider li{
	list-style: none;
	width: 100%;
}
#banner-slider img{
	width: 100%;
	height: 100%;
}
#banner-slider ul{
	display: flex;
	width: 400%;
	animation: slider 15s infinite alternate;
}
@keyframes slider{ 
0% {margin-left: 0}
25%{margin-left: 0}

25%{margin-left: -100%}
50%{margin-left: -100%}

50%{margin-left: -200%}
75%{margin-left: -200%}

75%{margin-left: -300%}
100%{margin-left: -300%}
}
#general_tarjeta{
	width:750px;
	display: flex;
	text-align: center;
	padding-top: 5px;
}
.tarjeta img{
	height: 150px;
	width: 100px;
	border-radius: 10px;
}
.tarjeta {
	margin: 5px;
	border: 1px solid #000;
	border-radius: 15px;
	box-shadow: 10px 10px 10px rgba(0,0,0, 0.9);
	cursor: default;

}
.tarjeta:hover{
	transform: translateY(-4%);
}
.tarjeta p{
	padding-top: 10px;
}
.tarjeta h2{ 
background:#95736E;
color:#19FFFA; }
.tarjeta a{ 
text-decoration:none;
color: #000;
border-radius: 5px;
background: pink;
padding: 10px;
display: inline-block;
margin-bottom: 10px;
margin-top: 10px;
border: 2px solid red;
 }
 .tarjeta a:hover{
 	background-color: #33E2FF;
 }
#Articulo{
	width: 500px;
	height: auto;
	float: left;
	margin-top: 10px;
border-left: 10px solid black;
border-right:4px solid black;
border-radius: 10px;
border-bottom: 8px solid black;
}
#Articulo img{
	width: 200px;
	height:150px;
	margin: 8px;
	float: left;
}
#Articulo h2{
	border-bottom: 10px solid #000;
	font-size: 25px;
	font-family: Arial Black;
}
#Articulo p{
	text-align: justify;
	padding: 7px;
	font-family: Arial;

}
#Articulo a{
	background: #000;
	color: #c0c0c0;
	text-decoration: none;
	padding: 8px;
	border-radius: 10px;
	margin-left: 200px;
	display: inline-block;
}
#Articulo a:hover{
	background: pink;
	color: black;
}
#lado-derecho{
	width: 230px;
	float: right;
	margin-top: 10px;
	height: auto;
	overflow: hidden;
}
#buscar, #categorias, #sitios_web, #ultimo_post{
	border: 1px solid #black;
}
#buscar>a, #categorias>a, #sitios_web>a, #ultimo_post>a{
	text-decoration: none;
	border-bottom: 2px solid #000;
	display: inline-block;
	width: 100%;
	padding: 8px;
	color: black;
}
aside h3{
	text-align: center;
	background: #000;
	color: white;
	padding: 5px;
}
aside h4{
	text-align:center;
	background: #fdfdfd;
	margin-right: 15px;
}
aside a:hover{
	background: pink;
}
#buscar input{
	padding: 8px;
	margin-top: 7px;
	margin-bottom: 7px;
}
footer {
	margin-top: 10px;
	float: left;
}
footer img{
	width: 35px;
	height: 35px;
}
#columna-general{
	display: flex;
	margin: auto;
}
footer h2{
	font-size: 16px;
	border: 1px solid black;
	text-align: center;
	border-radius: 10px 10px 0 0;
}
#columna1{
	width: 300px;
}
#columna1 p{text-align: justify;
	margin-top: 10px;
	padding: 10px;
}
#columna2{width: 200px;}
#columna2>div{
	display: flex;
	margin-top: 10px;
}
#columna2>div>label{
	margin-top: 10px;
	margin-left: 8px;
}
#columna3>div{
	display: flex;
	margin-top: 10px;
}
#columna3>div>label{
	margin-top: 10px;
	margin-left: 8px;
}
#footerr
{
	text-align: center;
	height: 30px;
	background: #95736E;
}
#footerr p
{
	padding: 8px;
}